
td{
    border-bottom:1pt solid black;
    padding-bottom:3px;
}

input{
    width:100%;
    margin-bottom:15px;
}

body{
    background-image: url("../images/map.jpg");
    background-size: cover;
}


.title-head{
    font-size: 48pt;
    background-image: url("../images/wide_rectangles.png");
    background-position: center;
    border-radius: 5px;
    margin-bottom: 20px;
    color:whitesmoke;
    font-family: 'Montserrat Subrayada', sans-serif;
    border: 3pt solid black;
}

.lbl-main{
    text-shadow: -5px 0 black, 0 1px black, -3px 0 black, 0 -1px black;
}

.fa-train{
   color:black;
}

.table-content, .form-main{
    border-radius: 15px;
    background-image: url("../images/brillant.png");
}

.form-main{
    margin-top:20px;
}

.train-form{
    margin-top:15px;
}

.lbl-table, .lbl-form{
    background-image: url("../images/wild_oliva.png");
    background-position: center;
    padding:10px;
    color:whitesmoke;
    font-family: 'Vidaloka', serif;
}

.table-trains{
    width:100%;
    margin-bottom: 20px;
    font-family: 'Share Tech Mono', monospace;
}

.table-labels{
    font-weight: bold;
    font-family: 'Vidaloka', serif;
}

.form-item{
    font-weight: bold;
    font-family: 'Vidaloka', serif;
}

.form-input{
    border-radius: 5px;
}

.delete, .update{
    border-radius:5px;
    width:60px;
    font-size:6pt;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -20px;
}

.img-train{
    margin-top: 15px;
    border:1pt solid black;
}

.weather-main{
    margin-left: 30px;
    width:90%; 
}

.lbl-weather-main{
    font-size: 16pt;
    font-family: 'Francois One', sans-serif;
}

.lbl-weather, #weatherSelect{
    font-family: 'Vidaloka', serif;
}

.weather{
    font-family: 'Vidaloka', serif;
}

.weather-item{
    margin:10px; 
    color:black;
    font-family: 'Vidaloka', serif;
}

.weather-head{
    padding-top:10px;
}

#btn-submit{
    width:100px;
    border-radius:5px; 
    float: right;
    font-weight: bold;
}

#btn-find{
    border-radius:5px;
    width:100px;
    font-size:10pt;
    font-weight: bold;
}

#weatherSelect{
    width:75%;
}

.weather-icon-sun{
    padding-top:15px;
    color:orange;
}

